#root {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
}

.font-size {
  &-l {
    font-size: 24px;
  }
  &-xl {
    font-size: 64px;
  }
  &-xxl {
    font-size: 180px
  }
}

.padding_global {
  padding: 48px 80px 48px 80px;
}

.header {
  justify-content:space-between;

  .page-current-wrapper {
    position: absolute;
    top: -30px;
    right: 16px;
    pointer-events: none;
  
    .path-name {
      color: #F9F9F9;
      font-weight: bold;
    }
  }
}

.menu_inline {
  position:relative;
  justify-content: flex-end;

  .item-wrapper {
    margin: 0 18px 0 18px;

    &:last-child {
      margin: 0 0 0 18px;
    }
  }

  li {
    display: inline;
  }
}

.author {
  pointer-events: none;
}

.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.flex-wrap-wrap {
    flex-wrap: wrap;
  }

  &.justify-content-start {
    justify-content: flex-start
  }

  &.space-between {
    justify-content: space-between; 
  }

  &.space-around {
    justify-content: space-around; 
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.align-items-center {
    align-items: center;
  }
}

.fit {
  height: 100%;
  width: 100%;
}

.contents-wrapper {
  max-height: 1050px;
  max-width:  1680px;
  min-height: 720px;
  min-width:  1280px;
  padding: 15vh 5vw 15vh 5vw;
}

@keyframes animation-fade-in-bottom-to-top {
  0% {
    transform: translateY(-5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 100;
  }
}

@keyframes animation-fade-out-bottom-to-top {
  0% {
    transform: translateY(0%);
    opacity: 100;
  }
  100% {
    transform: translateY(5%);
    opacity: 0;
  }
}

@keyframes animation-fade-in-top-to-bottom {
  0% { 
    transform: translateY(5%); 
    opacity: 0;
  }
  100% { 
    transform: translateY(0%);
    opacity: 100;
  }
}

@keyframes animation-fade-out-top-to-bottom {
  0% {
    transform: translateY(0%);
    opacity: 100;
  }
  100% {
    transform: translateY(-5%);
    opacity:0;
  }
}

.fade-in {
  &.bottom-to-top {
    .header .path-name, .contents-wrapper {
      animation: animation-fade-in-bottom-to-top 180ms ease-out forwards;
    }
  }

  &.top-to-bottom {
    .header .path-name,.contents-wrapper {
      animation: animation-fade-in-top-to-bottom 180ms ease-out forwards;
    }
  }
}

.fade-out {
  &.bottom-to-top {
    .header .path-name,.contents-wrapper {
      animation: animation-fade-out-bottom-to-top 180ms ease-in forwards;
    }
  }

  &.top-to-bottom {
    .header .path-name,.contents-wrapper {
      animation: animation-fade-out-top-to-bottom 180ms ease-in forwards;
    }
  }
}

